extends layout
block content
  #timebar
  .container
    #score
    .container-fluid
      .row.full-width
        .span12.full_width
          .photo-container
            #circular.marginLeft
              #circular_1.circular
              #circular_2.circular
              #circular_3.circular
              #circular_4.circular
              #circular_5.circular
              #circular_6.circular
              #circular_7.circular
              #circular_8.circular 
              .clearfix
            a#photo_url
              img#photo.img-polaroid.center-block(src="", alt="Guess the country...")
      .row
        .span12
          .row
            .span6
              button#btn1.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
            .span6
              button#btn2.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
          .row
            .span6
              button#btn3.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
            .span6
              button#btn4.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
      .row
        .span3.thumbs_down_container
          a#vk_share на стену
          a#vk_save_photo в альбом
          a#thumbs_down
        .span2.skip-container
          button#skip.pure-button.btn-default.center-block(href="") Пропустить
        .span3.thumbs_up_container
          a#thumbs_up
 
 
 
