extends layout
block content
  #timebar
  #splash_screen
  .container
    #score
    #up_score +20
    #down_score -10
    .container-fluid
      .row.full-width
        .span12.full-width
          .photo-container
            #circular.marginLeft
              #circular_1.circular
              #circular_2.circular
              #circular_3.circular
              #circular_4.circular
              #circular_5.circular
              #circular_6.circular
              #circular_7.circular
              #circular_8.circular 
              .clearfix
            img#photo.img-polaroid.center-block(src="", alt="Guess the country...")
      .row.full-width
        .span12.full-width
          #photo_url_container
            a#photo_url.center-block(onclick="this.target='_blank';") Оригинал на flickr.com
      .row
        .span12
          .row
            .span6
              button#btn1.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
            .span6
              button#btn2.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
          .row
            .span6
              button#btn3.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
            .span6
              button#btn4.pure-button.btn-fixwidth.btn-choose.center-block(href="") *
      .row
        .span3.share-container
          .share-subcontainer
            img#wall_post_img.left(src="/img/wall_post.png")
            a.left#vk_share на стену
          .share-subcontainer
            img#album_save_img.left(src="/img/album_save.png")
            a.left#vk_save_photo в альбом
        .span2.skip-container
          button#skip.pure-button.btn-default.center-block(href="") Пропустить
        .span3.thumbs-container
          #eval_photo Оценить фото:
          a#thumbs_down
          a#thumbs_up
 
 
 
