
@import 'lib/bootstrap/bootstrap.styl' // bootstrap-stylus
@import 'nib'

.container
  margin-top: 20px
  width: 700px
  position: relative

h2
  smooth-button()
  width: 90%
  font-size: 2em

h3
  margin-top: 20px

#timebar
  position: absolute
  height: 10px
  width: 100%
  background-color: #99C5D6

.row
  margin-top: 10px
  margin-right: -20px
  
.photo-container
  width: 640px
  height: 400px
  position: relative
  text-align: center

#photo
  max-height: 400px
  display: inline-block
  position: relative
  
.skip-container
  float: left
  width: 100px  
  
.center-block
  margin-left: auto
 	margin-right: auto
 	display: table
  
.full-width
  width: 100%

.btn-choose
  width: 250px

button.pure-button.btn-fixwidth
  margin-left: -45px

#thumbs_down
  float: right
  top: 7px
  
#thumbs_up
  float: left
  top: 2px
  
#thumbs_down ,#thumbs_up
  position: relative
  cursor: pointer
  border: none
  width: 20px
  height: 20px

#thumbs_down
  background:url(/img/thumbs_down20.png) no-repeat

#thumbs_up
  background:url(/img/thumbs_up20.png) no-repeat

.thumbs_down_container, .thumbs_up_container
  width: 246px
  height: 30px
  
#add
  float: left

#vk_save_photo
  float: left
  width: 100px

#vk_share
  float: left
  width: 100px
  
#score
  absolute: top 444px left 278px
  width: 120px
  height: 30px
  border: 1px solid #C8D5DE
  font-size: 26px
  text-align: center
  padding-top: 8  px
  
