
@import 'lib/bootstrap/bootstrap.styl' // bootstrap-stylus
@import 'nib'


//------------------------------------------------
// Fonts

@font-face
  font-family: 'hattori_hanzolight'
  src: url('/fonts/Hattori_Hanzo-webfont.eot')
  src: url('/fonts/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Hattori_Hanzo-webfont.woff') format('woff'),
       url('/fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),
       url('/fonts/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg')
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'hattori_hanzolight_italic'
  src: url('/fonts/Hattori_Hanzo_Italic-webfont.eot')
  src: url('/fonts/Hattori_Hanzo_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'),
       url('/fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'),
       url('/fonts/Hattori_Hanzo_Italic-webfont.svg#hattori_hanzolight_italic') format('svg')
  font-weight: normal
  font-style: normal



//------------------------------------------------
// General rules

.container
  margin-top: 20px
  width: 700px
  position: relative
  font-family: 'hattori_hanzolight', Helvetica, Arial, sans-serif
  
.row
  margin-top: 10px
  margin-right: -20px
  
.left
  float: left

a
  color: #6F8B8B
  cursor: pointer

a:hover
  color: #9DC0AE
  
.center-block
  margin-left: auto
 	margin-right: auto
 	display: table

.full-width
  width: 100%


//------------------------------------------------
// Top elements

#timebar
  position: absolute
  height: 10px
  width: 100%
  background-color: #99C5D6
  transition: width 0.5s linear 0s

#splash_screen
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(130, 148, 153, 0.5)
  z-index: 100
  visibility: hidden

//------------------------------------------------
// Photo

.photo-container
  width: 640px
  height: 400px
  position: relative
  text-align: center

#photo
  max-height: 400px
  display: inline-block
  position: relative

//------------------------------------------------
// Buttons

.skip-container
  float: left
  width: 100px  
  

.btn-choose
  width: 250px

button.pure-button.btn-fixwidth
  margin-left: -35px


//------------------------------------------------
// Thumbs

#thumbs_down ,#thumbs_up
  float: right
  position: relative
  cursor: pointer
  border: none
  width: 20px
  height: 20px

#thumbs_down
  right: 20px
  top: 7px
  background:url(/img/thumbs_down20.png) no-repeat
  
#thumbs_up
  right: -30px
  top: 2px
  background:url(/img/thumbs_up20.png) no-repeat

#eval_photo
  width: 180px
  margin-top: 6px
  float: left
  text-align: right
  
//------------------------------------------------
// Share links

.share-container, .thumbs-container
  width: 246px
  height: 25px
  
.share-subcontainer
  float: left
  width: 100px
  height: 35px
  text-align: center
  
#album_save_img
  margin-top: 2px
  
#vk_share
  margin-top: 8px
  margin-left: 6px

#vk_save_photo
  margin-top: 8px
  margin-left: 6px


//------------------------------------------------
// Score field

#score
  absolute: top 468px left 288px
  width: 120px
  height: 30px
  border: 1px solid #C8D5DE
  font-size: 26px
  text-align: center
  padding-top: 8px

#skip
  margin-left: 17px

//------------------------------------------------
// Score changing information

#up_score, #down_score
  absolute: top 474px left 400px
  width: 20px
  height: 20px
  font-size: 22px
  text-align: center
  display: none

#up_score
  color: #639c79

#down_score
  color: #B32735

//------------------------------------------------
// Leaderboard
#leader_board
  width: 100%
  height: 120px
  margin: 20px 0 0 5px
  
  .leader
    width: 90px
    height: 110px
    float: left
    border: 1px solid #E6EAEE
    margin: 5px 2px 0px 2px
    font-size: 12px
    
    .first-name,
    .last-name,
    .user-photo,
    .score
      margin: 0 auto
      text-align: center
      overflow: hidden
      text-overflow: clip
    
    .last-name
      border-bottom: 1px solid #E6EAEE
      margin-bottom: 2px
  
  .leader.top1
    border-color: #FFCC00
  .leader.top2
    border-color: #959595
  .leader.top3
    border-color: #CD7F32
    
      
    
    

    

//------------------------------------------------
// Url to the original photo on flickr.com

#photo_url
  text-align: center
  padding-left: 10px

#photo_url_container
  padding-right: 20px
  
//------------------------------------------------
// Link to NBack app
#nback_link
  width: 100%
  height: 20px
  margin-top: 40px
  text-align: center