
@import 'lib/bootstrap/bootstrap.styl' // bootstrap-stylus
@import 'nib'

.container
  margin-top: 20px
  width: 700px
  position: relative

h2
  smooth-button()
  width: 90%
  font-size: 2em

h3
  margin-top: 20px

.row
  margin-top: 10px
  margin-right: -20px
  
.photo-container
  width: 640px
  height: 400px
  position: relative
  text-align: center

#photo
  max-height: 400px
  display: inline-block
  
.skip-container
  width: 640px  
  
.center-block
  margin-left: auto
 	margin-right: auto
 	display: table
  
.full-width
  width: 100%

.btn-choose
  width: 250px

button.pure-button.btn-fixwidth
  margin-left: -45px


#score
  absolute: top 444px left 278px
  width: 120px
  height: 30px
  border: 1px solid #C8D5DE
  font-size: 26px
  text-align: center
  padding-top: 8  px
  
